[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-decouple = "*"
django-cors-headers = "*"
djangorestframework = "*"
Django = "*"
dj-database-url = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
whitenoise = "*"
pyjwt = "*"
graphene-django = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.6"
